

.Card  {
    display: inline-flex !important;
    margin-left: 68px !important;
  
    height: 350px !important;
 
    /* background-color: rgb(224, 241, 235) !important; */
    /* background-color: rgb(8, 215, 194); */
    margin-top: 30px !important;
    box-shadow: 8px 8px 16px #05058e;
     

}

.Image{
    height: 180px;
    width: 180px !important;
    margin-left: 20%;
    /* text-align: center !important; */
    /* background-color: aquamarine; */
}
.Image :hover{
    scale: 0.9;
 }